@import url("variables.css");


/*font encodesans*/
@font-face {
  font-family: 'EncodeSans';
  src: url('../storage/font/static/EncodeSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}


/*general reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    font-family: "EncodeSans", EncodeSans-Regular;
    font-size: var(--font-size, 18px);
    color: var(--white, #fff);
    margin-bottom: 8px;
}


/*Config del body*/
body{
    background-color: var(--light-grey);
    width: 100%;
    height: 100%;
    font-family: "EncodeSans", EncodeSans-Regular;
}

/*header*/
.header{
   font-family: "EncodeSans", EncodeSans-Regular;
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 15px;
    background-color: var(--primary-color, #333);
    color: var(--white, #fff);
}

.user-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Menu hamburguesa */
.mobile-menu input[type="checkbox"] {
    justify-content:end;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    opacity: 0;
    z-index: 100;
}

.mobile-menu input[type="checkbox"]:checked ~ .menu {
    display: none;
}

.burguer{
    font-size: 20px;
    cursor:pointer;
}

.menu{
    font-family: var(--font-family, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif);
    position: absolute;
    top: 60px;
    right: 15px;
    padding: 10px;
    background-color: var(--primary-color, #333);
    border-radius: 20px;
    display: none;
    list-style-type: none;
    display: inline-flex;
    gap: 15px;
    background-color: var(--white, #fff);
    
}

.mobile-menu a {
    color: var(--white, #fff);
    background-color: var(--primary-color, #333);
    font-size: 14px;
    padding: 4px 9px;
    border-radius: 20px;
    text-decoration: none;
    
}

.mobile-menu a:hover{
    color: var(--primary-color, #333);
    background-color: var(--primary-medium, #f0f0f0);
}


/* Estilos para la barra de búsqueda */
.search-bar{
    display: flex;
    gap: 8px;
    max-width: 500px;
    margin: 16px auto;
    padding: 5px;
    align-items: center;
    border-radius: 20px;
}

.search-bar input[type="search"]{
    flex: 1;
    padding: 8px 10px;
    border: 1px solid var(--dark-grey, #999);
    border-radius: 20px;
    font-size: 1rem;
    background: #fff;
}

.search-bar button{
    padding: 8px 10px;
    background: var(--primary-color, #333);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    z-index: 100;
}

.search-bar button:active{opacity:0.5}

/*seccion de categorias*/

.container {
    display: grid;
    grid-template-columns: repeat(5, minmax(180px, 1fr));
    gap: 16px;
    padding: 20px 0;
}

.categories-title{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 16px;
}

.category-figure {
    position: relative;
    display: grid;
    justify-items: center;
}

/*grid de product cards*/




/*customizacion de imagenes de productos*/

.product-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-image{
    width: 100%;
    height: 400px;
    padding: 15px, 0;
    object-fit: cover;
    border-radius: 30px;
}

.product-image:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image:hover:active{
    transform: scale(1.4);
    z-index: 100%;
}

.product-info{
    display: flex;
    font-size: var(--font-size, 15px);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 20px;
    background-color: var(--primary-color, #333);
    color: var(--white, #fff);
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-top: 15px;    
}

.product-rating{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.favorites-toggle {
    display: none;
}

.favoritos {
    position: absolute;
    top: 60px;
    right: 50px;
    font-size: 15px;
    cursor:pointer;
}

.favorites-toggle:checked + .favoritos {
    color: black;
}

.favorites-toggle:checked + .favoritos {
    color: red;
}


.product-cards {
    display: grid;
    grid-template-columns: repeat(5, minmax(180px, 1fr));
    gap: 16px;
    padding: 20px 0;
}

/* Responsive rules for store */

@media (max-width: 850px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, minmax(180px, 1fr));
        background-color: var(--white, );
        padding: 20px 0;
    }
}

@media (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, minmax(180px, 1fr));
        background-color: var(--white, );
        padding: 20px 0;

    }
}

@media (max-width: 608px) {
    .container {
         display: grid;
        grid-template-columns: repeat(2, minmax(180px, 1fr));
        background-color: var(--white, );
        padding: 20px 0;

    }
}

/* Responsive rules for menu display */

/*mobile*/
@media (max-width: 508px) {
    .menu {
        display:grid;
        position:initial;
        gap: 20px;
    }
}